.root {
  border-radius: 4px;
  display: flex;
  height: 8px;
  overflow: hidden;
  position: relative;
  width: 260px;
}

.background {
  background: var(--progress-background);
  border: 0.5px solid var(--progress-border);
  border-radius: 4px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.inner {
  background-color: var(--color);
  position: relative;
  transition: width 1000ms ease-out;
}
