.main {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.progressContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}

.symbol {
  font-size: 133px;
  height: 150px;
  margin-bottom: 123px;
  user-select: none;
  text-align: center;
  width: 150px;
}

.setting {
  bottom: 0;
  left: 0;
  position: fixed;
}
