.main {
  align-items: center;
  background: var(--background);
  color: var(--color);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.themeChristmas {
  --background: #fff;
  --color: #a6231e;
  --progress-background: rgba(30, 121, 44, 0.1);
  --progress-border: #1e792c;
}

.progressContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}

.symbol {
  font-size: 133px;
  height: 150px;
  margin-bottom: 123px;
  user-select: none;
  text-align: center;
  width: 150px;
}

.setting {
  bottom: 0;
  left: 0;
  position: fixed;
}
